.btn {
  background-color: rgb(255, 255, 255); /* Blue background */
  border: rgb(5, 4, 15); /* Remove borders */
  color: rgb(17, 17, 23); /* White text */
  padding: 6px 8px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(11, 49, 165);
}
#content {
    position: relative;
}
#content button {
    position: absolute;
    top: 0px;
    right: 0px;
}
#content1 {
    position: relative;
}
#content1 button {
    position: absolute;
    top: 0px;
    right: 30px;
}
#content2 {
    position: relative;
}
#content2 button {
    position: absolute;
    top: 0px;
    right: 120px;
}