html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono";
}
body {
  background: #061e23;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
main {
  transition-duration: 0.6s;
}
main .pin-wrapper {
  font-weight: 600;
  color: #F05A5D;
  align-items: center;
  background: #FFFEFE;
  font-size: 1.7em;
  line-height: 1;
  position: relative;
}
main .pin-wrapper .digits {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 1em;
  padding: 40px 45px;
  width: 280px;
}
main .pin-wrapper .digits .digit {
  position: relative;
  display: block;
  min-height: 1rem;
  min-width: 1rem;
}
main .pin-wrapper .digits .digit::before {
  content: attr(data-digit);
  display: block;
  opacity: 0;
  transform: scale(0.6);
  transition-duration: 0.2s;
  transition-delay: 0.15s;
  margin-top: -1px;
}
main .pin-wrapper .digits .digit[data-digit=""]::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FEE8E8;
}
main .pin-wrapper .digits .digit.shown::before {
  opacity: 1;
  transform: scale(1);
  transition-duration: 0.45s;
}
main .pin-wrapper .digits .caret {
  position: absolute;
  width: 0;
  height: 28px;
  background: #F05A5D;
  left: 0;
}
main .pin-wrapper .submit {
  position: absolute;
  background: #F05A5D;
  top: 0;
  left: 100%;
  height: 100%;
  width: calc(1rem + 90px);
  border: none;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: 0.6s;
}
main .pin-wrapper .submit svg {
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-25%, -50%);
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: white;
  transition-duration: 0.6s;
  transition-delay: 0.25s;
}
main .pin-wrapper .result {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  background: #F05A5D;
  font-weight: 300;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 25px 30px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  z-index: 99;
  flex-direction: column;
}
main .pin-wrapper .result .result-pin {
  font-weight: 600;
}
main .pin-wrapper .result.shown {
  opacity: 1;
  transform: none;
  pointer-events: all;
  transition-delay: 0.85s;
}
main .pin-wrapper .result button.reset {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  padding: 0 0 2px;
  font-weight: 600;
  font-size: 0.8em;
  font-family: 'Roboto Mono';
  color: white;
  cursor: pointer;
}
main .focus {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
main .focus:focus ~ .caret.blink {
  -webkit-animation: blink 0.5s infinite alternate;
          animation: blink 0.5s infinite alternate;
}
main.show-button {
  transform: translateX(calc(-0.5rem - 45px));
}
main.show-button .pin-wrapper .submit {
  transform: none;
}
main.show-button .pin-wrapper .submit svg {
  transform: translateY(-50%);
  opacity: 1;
}
footer {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
footer a {
  color: #F05A5D;
  text-decoration: none;
  font-weight: 600;
}
.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #F05A5D;

}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}