{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - jQuery +3D css button</title>
  <link rel="stylesheet" href="{% static 'index_home/button_style.css' %}">

</head>
<body>
  
<a href="pin" class="boton">
<script src="https://code.jquery.com/jquery-latest.min.js" type="{% static 'index_home/text/javascript' %}"></script>

<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>



Fantastic    
</a>
<link rel="stylesheet" href="{% static 'index_home/type_style.css' %}">
  <p class="sentence">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- partial -->
<script  src="{% static 'index_home/type_script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'index_home/button_script.js' %}"></script>

</body>
</html>
