{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>112 - Book</title>
  <link rel="stylesheet" href="{% static 'openbook/style.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'index_home/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'index_home/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'index_home/favicon_io/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'index_home/favicon_io/site.webmanifest' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="book-wrapper">
    <div class="book-cover">
      <img src="https://github.com/slyka85/assets/blob/master/bookcover2.png?raw=true" alt="">
    </div>

    
    <div class="pages-container">
      <div class="pages">
        <div class="page-num-1">
          <div class="pages-content">
            <div class="pages-background"></div>
            <div class="content-inner">
              <h1>Chapter-1 The Signals of Universe</h1>
              <div class="text"><p>And I saw her so close for the first time and since then I couldn’t think about anything else, “What is it about this girl, that I cannot stop thinking about her?”, I slept anyhow.
        
                
                
                  
                </p></div>
            </div>
          </div>
        </div>
        <div class="page-num-2">
          <div class="pages-content">
            <div class="content-inner">
             
              <div class="text">
                <p> That was the first time ever when Junior Girls had a compulsion to play Squash, I still have no idea why that? but for no reason, my Squash Friend Khatri had a lousy smile on his face. We both were organizing Squash tournament, so we had to prepare junior girls for the tournament in two days, Girls started to come a bit tired, all having the same question, what is this game?
                  Khatri directed all the girls to him and left the south ones for me to explain them the game, and honestly, I couldn’t care less, with every girl entering the Squash court I was just looking for her and with every disappointment, I saw with more hope, but she didn’t, she didn’t come to play.
                  I asked one of the girls, to ask every girl to come for Squash practice.</p>
                  
                  <p>She nodded with a sigh.</p>
                  
                  <p>Same time, next day, the same thing happened, Girls started to come for practice
                  Again Khatri directed all the girls to him and this time I even cared less, I just started to explain the game to girls in my court and I just gazed a view at the door.</p>                  
                  <p>Black Top and black leggings, hair ponytailed and carrying a bag, her pony was like a tassel she had a cute smile extending to her cheeks, My first adjacent look of Nehal.
                  Honestly, if you think Violins played at back and angel sang something, nothing that sort of, really nothing sappy. I still don’t know what I felt at that moment, but something like never before, some strange connection like I have known her for ages,
                </p> 

      
                </div>
            </div>
          </div>

        </div>
        <div class="page-num-3">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">
                <p>and still so curious to know her, yet I haven’t spoken a word to her, Stupid</p> 
                  
                <p>I don’t know what ran in Khatri’s mind when he said “Tum Vishesh sir ke pass chale jao” to her. I swear I wanted to hug Khatri at that moment, but I controlled, and why he said it?  And then She came towards my court, She had that innocence, and her eyes that had so many stories inside them, I was curious to know her. I don’t know what I was feeling then, something like I have never thought.
                She sat on the stairs, took her phone out, I avoided looking at her, I didn’t want her to feel uncomfortable and so I started teaching the rest, but I couldn’t resist to ask her to play, exactly then a junior girl asked me to play with her, I went inside the court, and I played two shots with her and I just wanted to talk to her, so I asked the junior girl that let others play and then for the first time I said “Nehal” in a gravelly voice, Seems, she was already looking at the game, she stood up and came inside the court, I didn’t want to make her uncomfortable so I left the court and let other girls play, but I explained the game to her, strangely she didn’t ask any questions, she seemed very quiet, but something inside me, I don’t know, an inner voice, exclaimed she was not, she wanted to tell so many things, I could look through her smile.</p>
               
           
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-4">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">
                 
                <p>I gave the racquet to her, she missed a few shots, to not look it very obvious  I just said “Hold the racquet tight, Nehal”, but stupid me again, I called every girl as junior and their house, in a deep voice, but I was calling her name and that somehow I said in a gravelly voice but it still sounded too sweet,  and that day was the same I couldn’t talk to her.
                  Next day, again the girls, she came this time she was not late, she went inside the court, this time I wanted to talk to her, anyhow, I went inside the court and she looked at me, I don’t know what she was thinking, but I was never afraid to talk to anyone, but that nervousness, that unstoppable butterflies, her look gave me, I couldn’t, I really couldn’t look at her, but god! She is so beautiful. I still didn’t want her to feel uncomfortable, but still, I wanted to look at her, her smile with her little nervousness around the cheek. Stupid me! Started teaching her, while looking at the front wall, I still didn’t know what she was thinking? Or whether she was thinking anything? I went washroom multiple times just to see whether my hair was good and to look at her silently. I saw her, she smiled.
              
                
         
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-5">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">
              </p>
              <p>Another day, I couldn’t talk to her, I was not sure, will I be able to talk to her.</p>
              
              <p>I knew it was somewhere strange because I never dress up for anybody, I do it because I like it, but it was 8 in the morning and I already checked the mirror and then watch a dozen of times.
              This time the practice was in the morning, there were just three girls at the court and she was there, she was obviously with the other girls, at Khatri’s court, I started practicing in the other court, I don’t know, but was she looking?
              Since the girls had a cricket match so they needed to go, we walked with them, we took the short, back road. She hanged back, she was on a call, Oh God! Why? I walked slowly just hoped that she’ll join and she did. We had a kinda first talk, it was like a long-held blister of joy in my heart splintered. I am not the usual one to deal in matters of heart, but somewhere in me I still believe, before even meeting her my heart belonged to her. </p>
         
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-6">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">
                <p>We had a short talk, honestly, all the things, all the long-wait, was worth it, the sweet talk, I cannot even remember someone’s birthday, or even what I had for the morning breakfast, but after all the moments I still remember how on a particular day, while speaking any particular syllable how she twirled her hair, I like noticing her, I like remembering her little things, I like remembering her every talk, I like remembering how she walks and moves her hand.Next day, 
                  The practice began</p>, 
         
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-7">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">

                  <p>She accidentally hurt her knee while hitting herself on the wall, she is sometimes a little clumsy. I immediately asked her to use the medical kit and I asked her to visit the washroom and to take care of the wound, she nodded. I couldn’t stop chattering my teeth, scratching my beard, she came and she seems alright. It was not all of a sudden, it was like every word we said to each other, already has a story with it.
                  And still writing about you every time I wish you jump out of the page and hug me,</p> 
                
         
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-8">
          <div class="pages-content">
            <div class="content-inner">
              
              <div class="text">
      
                  <p>And if I write more something about you, I would write how even when, everything around her gets ugly, she still manages to look beautiful, I’ll write about how your eyelashes move like a wheelbarrow collecting rain while you’re sleeping, and how beautiful you smell, I’ll write about how your hair looks like a symphony when you untie them, I’ll write about your laugh and your peculiar smile that you only have when I’m with you.
                  I’ll write about how your love is a wonder. Hey, sugar.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="page-num-6">
          <div class="pages-content">
            <div class="content-inner">
              <h1>More Chapters to come. 112 Always Paps🐣🐣🐣🐣🐣🐣🐣🐣🐣🐣🐣🐣🐣🐣</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script><script  src="{% static 'openbook/script.js' %}"></script>

</body>
</html>
