{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Terms and Conditions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300'>
<link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/39015/bootstrap-essentials.css'><link rel="stylesheet" href="{% static 'terms/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="titles">
          <h1 class="title">Terms & Conditions and Privacy Notice</h1>
          <h2 class="subtitle">To proceed with Predective AI, please read and agree to our Terms & Conditions and Privacy Notice</h2>
        </div>

        <div class="legal">

          <!-- Legal Instructions -->
          <div class="legal__instructions">
            <div class="alert alert-info" role="alert">
              <strong>
                <i class="fa fa-exclamation-triangle"></i>
                Important.
              </strong>
              <span>In order to continue, you must read the Terms & Conditions and Privacy Notice by scrolling to the bottom.</span>
            </div>
          </div>
          <!-- / -->

          <!-- Legal Navigation -->
          <nav class="legal__navigation">
            <span>Navigate to:</span>
            <ol>
              <li>
                <a class="terms-nav" href="#terms-and-conditions">Terms & Conditions</a>
              </li>
              <li>
                <a class="terms-nav" href="#privacy-notice">Privacy Policy</a>
              </li>
            </ol>  
            <div class="legal__progress"></div>
          </nav>
          <!-- / -->

          <!-- Legal Terms, Conditions, Notices -->
          <div class="legal__terms">
            <div class="legal__terms-scroll">
              <div id="terms-and-conditions">
                <strong>Terms and Conditions</strong>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
              </div>
              <div id="privacy-notice">
                <strong>Privacy Notice</strong>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
              </div>
            </div>
          </div>
          <!-- / -->

          <!-- Legal Rules -->
          <div class="legal__rules" aria-expanded="false" aria-hidden="true" style="display: none; opacity:0; filter:alpha(opacity=0);">

            <!-- Legal Rule 1 -->
            <div class="legal__rule">
              <div class="toggle--checkbox">
                <label class="toggle__label" for="">This is hidden and removed from the DOM</label>
                <label class="toggle__agree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">
                    Please agree to our 
                    <a href="#">terms and conditions <i class="fa fa-external-link"></i></a>
                    and
                    <a href="#">privacy policy <i class="fa fa-external-link"></i></a>
                    to continue.
                    <sup>1</sup> 
                  </span>
                </label>
                <label class="toggle__disagree">
                  <input type="checkbox" class="checkbox" />
                  <span class="toggle__button">Disagree</span>
                </label>
              </div>
            </div>
            <!-- / -->

            <!-- Legal Rule 2 -->
            <div class="legal__rule">
              <div class="toggle--checkbox">
                <label class="toggle__label" for="">This is hidden and removed from the DOM</label>
                <label class="toggle__agree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">I would like to be informed about special offers, such as events in my area.<sup>2</sup></span>
                </label>
                <label class="toggle__disagree">
                  <input type="checkbox" class="checkbox" />
                  <span class="toggle__button">Disagree</span>
                </label>
              </div>
            </div>
            <!-- / -->

            <!-- Legal Rule 3 -->
            <div class="legal__rule is-required">
              <div class="toggle--checkbox">
                <label class="toggle__label" for="">This is hidden and removed from the DOM</label>
                <label class="toggle__agree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">I agree to the terms and conditions</span>
                </label>
                <label class="toggle__disagree">
                  <input type="checkbox" class="checkbox" />
                  <span class="toggle__button">Disagree</span>
                </label>
              </div>
            </div>
            <!-- / -->

            <!-- Legal Rule 4 -->
            <div class="legal__rule">
              <div class="toggle--buttons">
                <label class="toggle__label" for="">I agree to the terms and conditions</label>
                <label class="toggle__agree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">Agree</span>
                </label>
                <label class="toggle__disagree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">Disagree</span>
                </label>
              </div> 
            </div>
            <!-- / -->

            <!-- Legal Rule 5 -->
            <div class="legal__rule is-required">
              <div class="toggle--buttons">
                <label class="toggle__label" for="">I agree to the terms and conditions</label>
                <label class="toggle__agree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">Agree</span>
                </label>
                <label class="toggle__disagree">
                  <input type="checkbox" class="checkbox"/>
                  <span class="control-indicator"></span>
                  <span class="toggle__button">Disagree</span>
                </label>
              </div> 
            </div>
            <!-- / -->
            
          </div>
          <!-- / -->

          <!-- ? -->
          <div class="legal__actions">
            <div style="float: left;">
              <div><sup>1</sup> Must agree to create your account</div>
              <div><sup>2</sup> Must agree or disagree to create your account</div>
            </div>
            <div style="float: right;">
              <button type="button" class="btn btn-default | overlay--close">Cancel</button>
              <a href="/index/index_case" button type="button" class="btn btn-success">Continue</button></a>
            </div>
          </div>
          <!-- / -->

        </div>

      </div>
    </div>
 
</div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script  src="{% static 'terms/script.js' %}"></script>

</body>
</html>
