{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'timeline/style.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'index_home/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'index_home/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'index_home/favicon_io/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'index_home/favicon_io/site.webmanifest' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">Memories of Love</h2>
    <h3 class="timeline-header__subtitle">- PAPPU & VIVI WORLD -</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="The First Restaurant Outing">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/kX_xrjXYjc0uPZt7DxNqOBr4Pgjq7aNe4PHZhTZmdyAoWhzNevAusr4x9X_LxUw-Euw6Z8jGM5hdxJqjM2YDCSB35bNRg1YZojcoHyRFHInO4L6iI6n6kh0fnbPpP6z5Lp7KjlGwnw=w2400"/>
        <h2 class="timeline__content-title">27th November 2019</h2>
        <p class="timeline__content-desc">Met with her first time at Squash Court on 14th, Little did I know that moment was enormous blessing of universe, at the start we were little shy to talk and then there was no stop, hours and hours, morning-nights everything started to become a known part of us, and then fast forward to 27th November we went to our first outing   </p>
      </div>
    </div>
    <div class="timeline-item" data-text="The First Proposal">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/QG_G0cGS15AGkx9yemaQIuKMx4okkWINETFMH4cMtOxcWdoJQjyiWdGr9_CxJlN1UY6Qz6F0vcKkNGd7ClEC6YE4ittKPn3jrOAxjQRNzRibbZL8sujp6G9F0eeqRe3HobLxn_es1g=w2400"/>
        <h2 class="timeline__content-title">30th November 2019</h2>
        <p class="timeline__content-desc">The most blushable moment in my life, I couldn't imagine me being more happy than it ever before in my life, To be honest I was just looking in her eyes and blushing.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The 112">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/UJqFKaZ0TMvcuVdDb9nafOb__358A0uDfitIEO70SeAA5GuXvAJ_ZNmGIFjmWFlKgZGPe0uUJ9BiunB2kJY-fKzHRMEbSRS_MLhEMy6HT3NfHvXMI21Jnmf_XiQQDy802BxpPP4OZA=w2400"/>
        <h2 class="timeline__content-title">1st December 2019</h2>
        <p class="timeline__content-desc">Finally the reason why 112. yes 1st of December, this day, is something the most important day in both of our life, We went to Guradwara Together on this day</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The First Cooking Together">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/FUk76s-uocPZCzlS0wpPo3HDTKuSkMCcJMOJ8fPjveFMlKMYFcYcEI8cqDfUnSBQe3oYMScxuUSWLnA4VyTlaMQtATMJKxIUjclzMo6fvVEvluH56Qaj3K1XII-TcASDqvwHglh2Lg=w2400"/>
        <h2 class="timeline__content-title">5th December 2019</h2>
        <p class="timeline__content-desc">That will always be the tastiest meal for us ever</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The usual another day at Our Home">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/2wv4OQnMLHwT6nnxB4b2pEia-FX0P1ibENxVtsz4EMOxKTFmi0O16AQB5iBVhs05zlwEv_QypKZ-A5s72HDbYQYd6eMA4GUim02rA2OXz4CbHEYSjD3yq-B5DsaiJapRHfCiL9r7qA=w2400"/>
        <h2 class="timeline__content-title">8th December 2019</h2>
        <p class="timeline__content-desc">It might be just stairs for almost everyone, but for us it will always be Our home(not like an actual home like a place where we have thousands of memories). </p>
      </div>
    </div>
    <div class="timeline-item" data-text="The First staying far away from each other">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/qoU1PSlNqullgKaFOBEn5oYSe6FUd9BVXdSFaTtLmGirxFwiWRE8cnaqG-XLgHtTrtJ0l5-knqaJnhvOO_pIVXliD6leCPRhSxFKs8pX_yBfvniXiMhF6i_wJ-TSqzO6aU57W-__wg=w2400"/>
        <h2 class="timeline__content-title">9th December 2019</h2>
        <p class="timeline__content-desc">We literally had a crying sad face for just seprating for few days, Little did we know the after sometime that some days would convert into some months. Nevertheless we literally made our this day special, we went for shopping. We went together inside train for first time</p>
      </div>
    </div>


  </div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="{% static 'timeline/script.js' %}"></script>

</body>
</html>
