{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'timeline/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">Memories of Love</h2>
    <h3 class="timeline-header__subtitle">- PAPPU & VIVI WORLD -</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="The First Restaurant Outing">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/kX_xrjXYjc0uPZt7DxNqOBr4Pgjq7aNe4PHZhTZmdyAoWhzNevAusr4x9X_LxUw-Euw6Z8jGM5hdxJqjM2YDCSB35bNRg1YZojcoHyRFHInO4L6iI6n6kh0fnbPpP6z5Lp7KjlGwnw=w2400"/>
        <h2 class="timeline__content-title">27th November 2019</h2>
        <p class="timeline__content-desc">Met with her first time at Squash Court on 14th, Little did I know that moment was enormous blessing of universe, at the start we were little shy to talk and then there was no stop, hours and hours, morning-nights everything started to become a known part of us, and then fast forward to 27th November we went to our first outing   </p>
      </div>
    </div>
    <div class="timeline-item" data-text="The First Proposal">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/QG_G0cGS15AGkx9yemaQIuKMx4okkWINETFMH4cMtOxcWdoJQjyiWdGr9_CxJlN1UY6Qz6F0vcKkNGd7ClEC6YE4ittKPn3jrOAxjQRNzRibbZL8sujp6G9F0eeqRe3HobLxn_es1g=w2400"/>
        <h2 class="timeline__content-title">30th November 2019</h2>
        <p class="timeline__content-desc">The most blushable moment in my life, I couldn't imagine me being more happy than it ever before in my life, To be honest I was just looking in her eyes and blushing.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The 112">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/UJqFKaZ0TMvcuVdDb9nafOb__358A0uDfitIEO70SeAA5GuXvAJ_ZNmGIFjmWFlKgZGPe0uUJ9BiunB2kJY-fKzHRMEbSRS_MLhEMy6HT3NfHvXMI21Jnmf_XiQQDy802BxpPP4OZA=w2400"/>
        <h2 class="timeline__content-title">1st December 2019</h2>
        <p class="timeline__content-desc">Finally the reason why 112. yes 1st of December, this day, is something the most important day in both of our life, We went to Guradwara Together on this day</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://cdn.yemek.com/uploads/2014/11/ataturk-10-kasim.jpg"/>
        <h2 class="timeline__content-title">1908</h2>
        <p class="timeline__content-desc">In 1908 he helped the group of officers who toppled the Sultan. Mustafa Kemal'scareer flourished as he won his heroism in the far corners of the Ottoman Empire,including Albania and Tripoli. He also briefly served as a staff officer in Salonica andIstanbul and as a military attache in Sofia.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://ataturk.istanbul.gov.tr/GalleryLibrary/12.jpg"/>
        <h2 class="timeline__content-title">1915</h2>
        <p class="timeline__content-desc">In 1915, when Dardanelles campaign was launched, Colonel Mustafa Kemal became anational hero by winning successive victories and finally repelling the invaders.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://blog.istanbul1881.com/wp-content/uploads/2016/08/atat%C3%BCrk-%C3%BCn-inan%C4%B1lmaz-karizmatik-fotograf%C4%B1_861050.jpg"/>
        <h2 class="timeline__content-title">1916</h2>
        <p class="timeline__content-desc">Promotedto general in 1916, at age 35, he liberated two major provinces in eastern Turkey thatyear. In the next two years, he served as commander of several Ottoman armies inPalestine, Aleppo, and elsewhere, achieving another major victory by stopping the enemyadvance at Aleppo.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://manisanokta.com/wp-content/uploads/2014/07/ataturk-20.jpg"/>
        <h2 class="timeline__content-title">1919</h2>
        <p class="timeline__content-desc">On May 19, 1919, Mustafa Kemal Pasha landed in the Black Sea port of Samsun to startthe War of Independence. In defiance of the Sultan's government, he rallied a liberationarmy in Anatolia and convened the Congress of Erzurum and Sivas which established thebasis for the new national effort under his leadership.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://www.volpeypir.com/upload/3732.jpg"/>
        <h2 class="timeline__content-title">1920</h2>
        <p class="timeline__content-desc">
          On April 23, 1920, the GrandNational Assembly was inaugurated. Mustafa Kemal Pasha was elected to its Presidency.
          Fighting on many fronts, he led his forces to victory against rebels and invadingarmies. Following the Turkish triumph at the two major battles at Inonu in Western Turkey,the Grand National Assembly conferred on Mustafa Kemal Pasha the title ofCommander-in-Chief with the rank of Marshal.
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://sanatkaravani.com/wp-content/uploads/2015/11/ataturk-4.jpg"/>
        <h2 class="timeline__content-title">1922</h2>
        <p class="timeline__content-desc">At the end of August 1922, the Turkish armieswon their ultimate victory. Within a few weeks, the Turkish mainland was completelyliberated, the armistice signed, and the rule of the Ottoman dynasty abolished</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="https://turkcetarih.com/wp-content/uploads/2015/05/Atat%C3%BCrkveCumhuriyet.jpg"/>
        <h2 class="timeline__content-title">1923</h2>
        <p class="timeline__content-desc">In July 1923, the national government signed the Lausanne Treaty with Great Britain,France, Greece, Italy, and others. In mid-October, Ankara became the capital of the new Turkish State. On October 29, the Republic was proclaimed and Mustafa Kemal Pasha wasunanimously elected President of the Republic.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="https://pbs.twimg.com/media/Cw69H8pXUAEaSqa.jpg"/>
        <h2 class="timeline__content-title">1934</h2>
        <p class="timeline__content-desc">
          The account of Atatürk's fifteen year Presidency is a saga of dramatic modernization.With indefatigable determination, he created a new political and legal system, abolished the Caliphate and made both government and education secular, gave equal rights to women,changed the alphabet and the attire, and advanced the arts and the sciences, agricultureand industry.
          In 1934, when the surname law was adopted, the national parliament gave him the name <i><strong>"Atatürk" (Father of the Turks)</strong></i>
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="http://www.bik.gov.tr/wp-content/uploads/2016/11/20161110_2_20037273_15856882.jpg?fit=1024%2C863"/>
        <h2 class="timeline__content-title">1938</h2>
        <p class="timeline__content-desc">On November 10, 1938, following an illness of a few months, the national liberator and the Father of modern Turkey died. But his legacy to his people and to the world endures.</p>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="{% static 'timeline/script.js' %}"></script>

</body>
</html>
