@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

:root {
  --animation-delay: 5ms;
}

p {
  font-family: 'Major Mono Display', monospace;
  padding: 0px;
  line-height: 1.6;
}

span {
  opacity: 0;
  animation-name: typewriter;
  animation-fill-mode: forwards;
  animation-duration: 0s;
  animation-delay: calc(var(--animation-order) * var(--animation-delay));
  
}

@keyframes typewriter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



a {
  font-family: 'Major Mono Display', monospace;
  padding: 0px;
  line-height: 1.6;
}
